 body {
     font-family: "Lato", sans-serif;
 }

 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 300px;
    position: fixed; /* Stay in place */
    /*position: absolute;*/
    /*z-index: -9999;*/
    top: 60px; /* Stay at the top */
    bottom: 0;
    left: 0;
    background-color: #2A3F54;
    overflow-y: scroll;
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px;*/ /* Place content 60px from the top */
}


.libCategorie, .libRecette, .fontMenu {
    color: #DEE6F1;
}

/* The navigation menu links */
/*
.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
*/

a:hover {
    background-color: #4A5F74;
}

/* The navigation menu links */
.menu-first {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

/* The navigation menu links */
.menu-second {
    padding: 6px 6px 6px 38px;
    text-decoration: none;
    font-size: 18px;
    color: #808080;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */

/* Page content */
.main {
  margin-top : 10px;
  margin-left: 320px; /* More than the width of the sidenav */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
