<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recettes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>

<!-- menu -->
<div th:insert="menu :: sidenav"></div>

<!-- page -->
<div class="main">

<div>
    <form th:action="@{/addRecette}" onsubmit="searchOrdreRecette();" th:object="${recette}" method="POST">
        <input type="hidden" id="ordre" th:field="*{ordre}" />
    <h3>
        Définir une recette
    </h3>

    <div class="form-group">
        <label for="categorie">Choisir une catégorie :</label>
        <select class="form-control select" id="categorie" th:field="*{categorie}">
            <option th:each="categorie : ${categories}" th:value="${categorie.id}" th:utext="${categorie.libelle}"></option>
        </select>
    </div>

        <div>Titre :</div>
        <input type="text" id="libelle" th:field="*{libelle}" style="width:30em;" />

    <div>Ingrédients :</div>

        <div id="ingredients">
            <p th:each="currentIngredient, stat : *{ingredients}">
                <input type="text" th:name="ingredientName" th:value="${currentIngredient.libelle}" style="width:30em;" />
                <button id="ingredientButtonPlus" type="button" onclick="addIngredient();" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Plus
                </button>
            </p>
        </div>

    <div>Etapes :</div>

    <div id="etapes">
        <p th:each="currentEtape, stat : *{etapes}">
            <input type="text" th:name="etapeName" th:value="${currentEtape.libelle}" style="width:30em;" />
            <button id="etapeButtonPlus" type="button" onclick="addEtape();" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-plus"></span> Plus
            </button>
        </p>
    </div>

    <div>
        <input id="buttonCreer" type="submit" value="Créer" />
    </div>

    </form>
</div>

    <br/>

    <div>
        <a id="goGestionCategories" th:href="categories">Gérer les catégories</a>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

    // ajouter un champ pour remplir un ingrédient
    function addIngredient() {
        $("#ingredients").append('<p>'
                    + '<input type="text" name="ingredientName" style="width:30em;" />'
                    + '</p>');
    }

    // ajouter un champ pour remplir une étape
    function addEtape() {
        $("#etapes").append('<p>'
                    + '<input type="text" name="etapeName" style="width:30em;" />'
                    + '</p>');
    }

    // valorise l'ordre de la recette créé (utilisé pour trier les recettes)
    function searchOrdreRecette() {
        var categorieId = $('#categorie').find(":selected").val();
        var sIdCategorieMenu = '#categorie' + categorieId;
        var lastOrdre = $(sIdCategorieMenu).children('p:last').children('input').attr('value');

        if (!isInt(lastOrdre)) {
            lastOrdre = 0;
        }

        var ordreIncr = parseInt(lastOrdre, 10) + 1;
        $("#ordre").attr('value', ordreIncr);
    }

    // vérifie si une valeur est un entier
    function isInt(value) {
        return !isNaN(value) &&
            parseInt(Number(value)) == value &&
            !isNaN(parseInt(value, 10));
    }
</script>
</body>
</html>