<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Header</title>
</head>
<body>
<header th:fragment="header" class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
    <div class="container">
        <div class="top_nav">
            <div class="navbar-header">

                <a class="navbar-brand" href="/index"><span class="navbar-span"></span></a>

                <a class="navbar-brand" href="/admin"><span class="navbar-span">Admin</span></a>
                <a class="navbar-brand" href="/agenda"><span class="navbar-span">Agenda</span></a>


            </div>
        </div>
    </div>
</header>

</body>
</html>