<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Menu</title>
</head>
<body>
<div id="mySidenav" class="sidenav" th:fragment="sidenav">

    <div th:each="categorie : ${session.categoriesMenu}" th:id="|categorie${categorie.id}|" th:name="${categorie.libelle}">
        <a class="menu-first" th:href="@{|/categorie/${categorie.id}|}" th:value="${categorie.id}">
        <!--<a class="menu-first" th:href="|/${#strings.unCapitalize(categorie.libelle)}|" th:value="${categorie.id}">-->
            <span th:text="${categorie.libelle}"></span>
        </a>
        <input type="hidden" class="ordreCategorie" th:value="${categorie.ordre}" />

        <span th:each="recette : ${categorie.recettes}" th:name="${recette.libelle}">
            <a class="menu-second" th:href="@{|/recette/${recette.id}|}" th:name="idRecette">
                    <span th:text="${recette.libelle}" style="font-family:arial;font-size:85%;"></span>
            </a>
            <input type="hidden" class="ordreRecette" th:id="|ordre${recette.id}|" th:value="${recette.ordre}" />
        </span>
    </div>

    <br/>

    <a id="goAdmin" class="menu-first" href="/admin">Admin</a>

    <a id="goAgenda" class="menu-first" href="/agenda">Agenda</a>

</div>

</body>
</html>