<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recettes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>
<body>
<div id="mySidenav" class="sidenav" w3-include-html="../menu.html"></div>

<!-- page -->
<div class="main">
    <p>
        Mousse au chocolat :
    </p>
    <p>
        Méthode facile :
    </p>
    <ul>
        <li>100g de chocolat</li>
        <li>3 oeufs</li>
        <li>sachet de sucre vanillé</li>
    </ul>
    <p>
        Faire fondre le chocolat au bain-marie
    </p>
    <p>
        Séparer les blancs des jaunes d’oeufs
    </p>
    <p>
        Mélanger le chocolat fondu avec les jaunes et le sucre
    </p>
    <p>
        Monter les blancs en neige ferme
    </p>
    <p>
        et incorporer au mélange avec une spatule
    </p>
    <p>
        Méthode pâte à bombe :
    </p>
    <p>
        Pour le sirop :
    <ul>
        <li>50 ml d’eau</li>
        <li>80 g de sucre en poudre</li>
    </ul>
    </p>
    <p>
        Le reste :
    </p>
    <p>
    <ul>
        <li>200 ml de crème liquide entière (au moins 30% matière grasse)</li>
        <li>200 g de chocolat noir</li>
        <li>3 jaunes d’œufs</li>
        <li>1 œuf</li>
        <li>80 g de sucre en poudre</li>
    </ul>
    </p>
    <p>
        Fouetter la crème liquide au batteur.
    </p>
    <p>
        Fondre le chocolat au bain marie.
    </p>
    <p>
        Fouetter les 3 jaunes d’oeuf, l’oeuf et 80g de sucre jusqu’à ce que le mélange blanchisse.
    </p>
    <p>
        Faire le sirop : 50 ml d’eau et 80g de sucre porté à 121°C.
    </p>
    <p>
        Une fois la température atteinte verser doucement le sirop sur le mélange oeuf/sucre tout en fouettant pour assimiler le sirop, jusqu’à refroidissement.
    </p>
    <p>
        Ajouter ensuite le chocolat fondu en continuant de fouetter.
    </p>
    <p>
        Incorporer la crème montée au mélange puis garder au froid durant minimum quelques heures.
    </p>
</div>

<script src="../js/include.js"></script>
</body>
</html>