<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recettes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
</head>
<body>
<div id="mySidenav" class="sidenav" w3-include-html="../menu.html"></div>

<!-- page -->
<div class="main">
    <ul>
        <li>240 g de farine de blé (T45)</li>
        <li>3 g de sel</li>
        <li>120 – 150 g d’eau chaude</li>
    </ul>
    <p>
        Chauffer l'eau et mettre le sel jusqu’à ce qu’il soit entièrement dissout.
    </p>
    <p>
        Mélanger petit à petit l’eau avec la farine jusqu’à avoir une pâte homogène.
    </p>
    <p>
        Pétrisser la pâte à la main pendant 5 minutes au moins jusqu’à ce qu’elle soit douce et plus malléable.
    </p>
    <p>
        Réserver au frais pendant 1 h.
    </p>
    <p>
        Au bout d’une heure, il faudra étaler votre pâte.
    </p>
    <p>
        Passer la pâte par petits morceaux au laminoir jusqu’à l’avant-dernier ou au dernier cran ou si on n'a pas de laminour on peut étaler à 1mm d'épaisseur envrion avec un rouleau à pâtisserie (plus dur).
    </p>
    <p>
        Une fois que vous avez de beaux morceaux de pâte bien aplatis, couper la pâte en ronds de 7 – 8 cm de diamètre (avec un emporte-pièce). Les fariner et les réserver pour le pliage.
    </p>
</div>

<script src="../js/include.js"></script>
</body>
</html>